.mainComFlex {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;

    padding: 10px;
} .main span {
    font-weight: 600;
}

/* Necessária quando não há botão */
.mainSemFlex {
    padding: 10px;
}

.main {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
}


.secondary {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.button {
    display: inline-block;
    padding: 0 10px;
}

.ladoEsquerdo, .ladoDireito {
    padding: 10px;
}