.main {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.main > * {
    /* Não sei pq não está funcionando */
    /* border-radius: 10px; */

    text-align: center;
    font-size: 1.2em;
    flex: 1 0 150px;

    /* Não sei pq não está funcionando */
    height: 100%;
}