.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    padding: 20px;
    gap: 15px;
    background-color: var(--corespaco30);
}
.main * {
    height: fit-content; /*fit-content define que a altura de um elemento será ajustada dinamicamente para se encaixar perfeitamente no seu conteúdo.*/
}


.main label div {
    border-radius: 10px;
    border: 2px solid black;
    color: white;
}
.main label div:hover {
    background-color: #fff;
    color: black;
}

.main input[type="radio"]:checked + label > div {
    
}