.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 10px;
    gap: 15px;
}
.main * {
    height: fit-content; /*fit-content define que a altura de um elemento será ajustada dinamicamente para se encaixar perfeitamente no seu conteúdo.*/
}


.main label div {
    border-radius: 10px;
    border: 2px solid black;
}

.main input[type="radio"]:checked + label > div {
    
}