.main {
    /* border: solid blue; */

    display: grid;
    grid-template: 1fr 3fr 3fr 2fr / 1fr 2fr ;

    height: 90vh;
}
.main > * {
    border: 1px solid black;
}

/* ========== */
.schema {
    display: flex;
    text-align: center;
    align-items: center;    

    /* background-color: aqua; */
    grid-area: 1 / 1 / -1 / 2;
    height: 100%;
}


/* ========== */
.botoes {
    grid-area: 1 / 2 / 2 / -1;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
    align-items: center;
    
    height: 100%;
} 
.botoes * {
    height: fit-content;
    flex: 0 0 170px;
}
.botoes label > div {
    width: 100%;
}


/* ========== */
.seletorTabelas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    grid-area: 2 / 2 / 3 / -1;
    height: 100%;
} 

.seletorTabelas  label > div {
    width: 250px;
    /* flex: 1 0 350px; */
    padding: 5px;
    background-color: rgba(165, 42, 42, 0.26);
} 

.seletorTabelas *:hover {
    color: white;
}


/* ========== */
.tabelaCampos {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    grid-area: 3 / 2 / 4 / -1;
}

/* Div que junta a tabela e campos no meio */
.tabelaCampos > div {
    /* font-size: 1.5em; */
    width: 400px;
    padding: 20px;
    /* background-color: aqua; */
}
.tabelaCampos > div > div {
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    cursor: auto !important;
} .tabelaCampos > div > div:hover {
    background-color: initial;
}

.campos {
    display: flex;
    flex-flow: row wrap;
}
.campos div div {
    width: 100%;
    background-color: rgba(0, 0, 255, 0.248);
}
.campos > div {
    flex: 1 0 40px;
    border-radius: 10px;
}


/* ========== */
.inputGestor {
    grid-area: -2 / 2 / -1 / -1;
    height: 100%;
}

.inputGestor > fieldset {
    width: 80%; 
    
}
.inputGestor > div {
    display: flex;
    gap: 20px;
}
.inputGestor > div > fieldset {
    width: 80%;
}