.main {
    display: flex;
    flex-flow: column;
    gap: 10px;

    width: 80vw;
    margin: auto;
    padding: 20px;
}

.main button {
    background-color: brown;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.main button:hover {
    text-decoration: underline;
    color: white;
}