.main {
    /* border: solid blue; */

    display: grid;
    grid-template: 1fr 3fr 3fr 2fr / 1fr 2fr ;

    height: 94vh;
}
.main > * {
    border: 1px solid black;
    height: 30px;
}

/* ========== */
.schema {
    display: flex;
    text-align: center;
    align-items: center;    

    /* background-color: aqua; */
    grid-area: 1 / 1 / -1 / 2;
    height: 100%;
}


/* ========== */
.botoes {
    grid-area: 1 / 2 / 2 / -1;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
    align-items: center;
    
    height: 100%;
} 
.botoes * {
    height: fit-content;
    flex: 0 0 170px;
}
.botoes label > div {
    width: 100%;
}


/* ========== */
.seletorTabelas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    grid-area: 2 / 2 / 3 / -1;
    height: 100%;
} 

.seletorTabelas > label > div {
    width: 250px;
    /* flex: 1 0 350px; */
    padding: 5px;
    background-color: brown;
} 

.seletorTabelas *:hover {
    color: white;
}


/* ========== */
.tabelaCampos {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    grid-area: 3 / 2 / 4 / -1;
}
.tabelaCampos > div {

    /* font-size: 1.5em; */

    width: 400px;
    margin: auto;
    padding: 20px;
    /* background-color: aqua; */
}

.tabela > div {
    width: 100%;
}

.campos {
    display: flex;
    flex-flow: row wrap;
}
.campos > * {
    background-color: rgba(3, 3, 104, 0.496);
    flex: 1 0 40px;
}


/* ========== */
.inputGestor {
    grid-area: -2 / 2 / -1 / -1;
    height: 100%;
}

.inputGestor > fieldset {
    width: 80%; 
    
}
.inputGestor > div {
    display: flex;
    gap: 20px;
}
.inputGestor > div > fieldset {
    width: 80%;
}