/* .main {
    position: absolute;
    max-width: fit-content;
    
    padding: 15px 30px;
    box-shadow: 0px 0px 5px black;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main * {
    display: block;
    width: 300px;
    margin: 7px auto;
}


.img {
    width: 30%;
    margin: auto;
    padding: 10px;
}


.main a {
    text-decoration: none;
    color: red;
} .main a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.219);
    text-decoration: underline;
}


.main > p {
    text-align: center;
} .main > p:nth-of-type(2) {
    font-size: 1.2em;
    margin-top: 20px;
}

.main > form > div {
    width: 100%;
}

.main > div * {
    text-align: center;
    width: 100%;
/* <<<<<<< HEAD
}


.main > div > div {
    background-color: aqua;
=======
} */ 

.ignorarLogin {
    position: fixed;
    top: 0;
} .ignorarLogin:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.main {
    position: absolute;
    max-width: 400px;
    width: 90%;
    
    padding: 40px 30px;
    box-shadow: 0px 10px 30px rgba(24, 32, 61, 0.2);
    border-radius: 20px;
    background: #FFFFFF;
    
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main * {
    width: 100%;
    margin: 0;
}

.img {
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    padding: 2px;
    background: #196DBA;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(25, 109, 186, 0.3);
    box-shadow: 0 0 5px black;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
}

.main a {
    text-decoration: none;
    text-decoration: underline;
    color: #196DBA;
    font-weight: 500;
    transition: all 0.3s ease;
} 

.main a:hover {
    color: #18203D;
    text-decoration: underline;
    transform: translateY(-1px);
}

.main > div {
    text-align: center;
    margin-top: 10px;
}

.main > div p {
    color: #1E1E1E;
    margin: 8px 0;
    font-weight: bold;
}

.main > div p:nth-of-type(1) {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.main > div p:nth-of-type(2) {
    font-size: 0.95em;
    color: #18203D;
    margin-bottom: 10px;
}


.main div > div {
    /* background-color: #196DBA; */
    font-weight: bold;
}
.main div > div:hover {
    /* background-color: #196DBA; */
    font-weight: bold;
    text-decoration: underline;
    color: #DB9D12;
}

.main form div:nth-last-child(1) {/*-++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* background-color: blueviolet; */
    /* font: ; */
    color: #FFFFFF;
    border-radius: 10px;
}
.main form div:nth-last-child(1):hover {/*-++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    transform: scale(1.05);
}

/* Animações e estados interativos */
.main {
    animation: slideUp 0.6s ease-out;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

/* Responsividade melhorada */
@media (max-width: 480px) {
    .main {
        padding: 30px 20px;
        width: 85%;
    }
}

/* Efeito de foco nos campos */
.main input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(219, 157, 18, 0.2);
/* >>>>>>> 0db31b7b78560fc12d38ccede2f0b00778ca539d */
}