.main {
    border: solid blue;
    display: grid;
    grid-template: 1fr 3fr 3fr 2fr / 1fr 2fr ;

    height: 94vh;
}
.main > * {
    border: 1px solid black;
    height: 30px;
}

.schema {
    /* background-color: aqua; */
    grid-area: 1 / 1 / -1 / 2;
    height: 100%;
}



.botoes {
    grid-area: 1 / 2 / 2 / -1;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
    align-items: center;
    
    height: 100%;
    border: 1px solid red;
} 
.botoes * {
    border: solid black;
    height: fit-content;
    flex: 0 0 170px
}


.seletorTabelas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    grid-area: 2 / 2 / 3 / -1;

    background-color: blue;
    height: 100%;
} .seletorTabelas * {
    width: 350px;
}


.tabelaCampos {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    height: 100%;
    width: 100%;
    

    grid-area: 3 / 2 / 4 / -1;
}

.tabelaCampos > div {
    font-size: 1.5em;

    min-width: 300px;
    max-width: 430px;

    padding: 20px;
    background-color: aqua;
}

.tabelaCampos > div > button {
    width: 100%;
    background-color: red;
}


.inputGestor {
    grid-area: -2 / 2 / -1 / -1;
    height: 100%;
}