.main label {
    display: block;
}

.main > div:nth-child(2) {
    margin-left: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.505);
    padding: 5px;
}


.tituloContainer {
    text-align: center;
    padding: 50px 20px;
    background: var(--corazul); /* #18203D */
    color: var(--corbranco60); /* #FFFFFF */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.tituloContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--cordourado10); /* #DB9D12 */
}


.tituloPrincipal {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--corbranco60); /* #FFFFFF */
}

.subtitulo {
    font-size: 1.3rem;
    opacity: 0.9;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    font-weight: 300;
    color: var(--corbranco60); /* #FFFFFF */
}

.eventosContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    background: var(--corbranco60); /* #FFFFFF */
    /* background-color: var(--cordourado10); */
}

.imagemPacotes {
    width: 100%;
    margin: 10px 0;
}


.footerImg{
    width: 100vw;
}



/* BOTÃO PRÓXIMA TELA */
.main > div > div:nth-last-child(1) {
    background-color: var(--cordourado10);
    border-radius: 10px;
    border: 1px solid black;
    font-size: large;
    font-weight: bold;

    margin-left: auto;
    padding: 10px;
} .main > div > div:nth-last-child(1):hover {
    color: white;
}

/* SELECTS */
.main > div:nth-child(2) {
    font-size: large;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;

} .main > div:nth-child(2) select {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--cordourado10);
    font-weight: bold;
}