.gui {
    width: 300px;
    background-color: blue;
}

.qualquerCoisa{
    width: 50px;
}

.pai{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
}