.main {
    height: fit-content;
    width: fit-content;
    text-align: center;
}
.main:hover, .cores:hover {
    cursor: pointer;
}

.cores {
    /* background-color: var(--cordourado10) ; */
    background-color: var(--corazul) ;
    color: var(--corletrasbotao) ;
    padding: 8px ; 
}