.main {
    height: fit-content;
    width: fit-content;
    text-align: center;
}
.main:hover, .cores:hover {
    cursor: pointer;
}

.cores {
    background-color: rgb(25, 25, 189) ;
    color: white ;
    padding: 8px ; 
}