.eventoContainer{
    margin: 20px 0px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    height: 200px;
    background-color: white;
}

.eventoHeader{
    margin-bottom: 20px;
    /* text-align: center; */
}

.eventoTitulo{
    font-size: ;
    margin-bottom: ;
}
.eventoDescricao{
    color: ;
    line-height: ;

}
.partesContainer{

}