.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: blue;
    height: 50px;
}

.selected {
    background-color: red;
    height: 50px;
}

.radio {
    display: none;
}