

/* 3. Adicione CSS para visualizar melhor:
css */
/* header.module.css */
.containerHeader{
    position: relative;
    height: 100px;
}
.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 2px solid #ddd;
    width: 100vw;
    z-index: 999;
}

.header img {
    max-height: 80px; /* Controla o tamanho máximo */
    width: auto;
}


/* =========== ANTIGO ===================== */

.header nav ul li:nth-last-of-type(1) > a {
    font-size: 1rem;
    background:#007bff;
    color: #ddd;
    padding: 15px;
    border-radius: 12px;
}
.header nav ul li:nth-last-of-type(1) > a:hover {
    color:#DB9D12;
    cursor: pointer;
    scale: (1.2);
}

.header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.header nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-style: bold;
    font-weight: bold;
}

.header nav a:hover {
    color: #007bff;
    text-decoration: underline;
}

/* ================================ */


/* === NOVO === */
.header nav ul li {
    font-weight: 700;
}

.header li > div {
    display: inline;
}
.header li > div:hover {
    color: #007bff;
    text-decoration: underline;
}

.header nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    list-style: none;
    gap: 2rem;
    /* margin: 0;
    padding: 0; */
}


.header li:nth-last-child(1) > div {
    text-decoration: none;
    font-weight: bold;

    font-size: 1rem;
    background:#007bff;
    color: #ddd;
    padding: 15px;
    border-radius: 12px;
}
.header li:nth-last-child(1) > div:hover {
    text-decoration: underline;
    color:#DB9D12;
}