:root {
    --tamanhoDivPequena: 20px;
}

.main {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;

    width: 100%;
}
.main > div {
    flex: 1 0 40%;
}

.esquerda {}
.esquerda > div {
    margin-bottom: 5px;
}
.esquerda > div > div {
    display: inline-block;
    border: solid black;
    width: calc(100% - var(--tamanhoDivPequena));
}


.direita {}
.direita > div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid black;
    height: 50%;
    margin-bottom: 3px;
}


.esquerda, .direita {
    display: inline-block;
}

.baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}

.grafico {
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid black;
    height: 82%;
}

.divPequena {
    display: inline-block;
    width: var(--tamanhoDivPequena) !important;
    background-color: chocolate;
}