.auxiliarslide-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.auxiliarslide-auxiliarslide {
  width: 100%;
  height: 737px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(24, 32, 61, 1);
}
 
.auxiliarslide-group4 {
  top: -9px;
  left: 3456px;
  width: 1728px;
  height: 734.1744995117188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.auxiliarslide-rectangle5 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 708px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.auxiliarslide-group2 {
  top: 725px;
  left: 813px;
  width: 103px;
  height: 9.174515724182129px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.auxiliarslide-rectangle71 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-rectangle81 {
  top: 0px;
  left: 36px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-rectangle91 {
  top: 0px;
  left: 72px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-group3 {
  top: -36px;
  left: 1728px;
  width: 1728px;
  height: 761.4985961914062px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.auxiliarslide-rectangle4 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 734px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.auxiliarslide-group11 {
  top: 752px;
  left: 813px;
  width: 103px;
  height: 9.498615264892578px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.auxiliarslide-rectangle72 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-rectangle82 {
  top: 0px;
  left: 36px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-rectangle92 {
  top: 0px;
  left: 72px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-group5 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 725px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.auxiliarslide-rectangle3 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 698px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.auxiliarslide-group12 {
  top: 716px;
  left: 813px;
  width: 103px;
  height: 9px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.auxiliarslide-rectangle73 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-rectangle83 {
  top: 0px;
  left: 36px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-rectangle93 {
  top: 0px;
  left: 72px;
  width: 31px;
  height: 9px;
  position: absolute;
  border-radius: 20px;
}
 
.auxiliarslide-link {
  display: contents;
}
 
.auxiliarslide-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.auxiliarslide-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.auxiliarslide-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
