.select-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.select-select1 {
  gap: 13px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.select-component2 {
  width: 483px;
  height: 136px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.select-text1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.select-select2 {
  top: 46px;
  left: 0px;
  width: 483px;
  height: 90px;
  position: absolute;
  border-radius: 20px;
}
 
.select-vector {
  top: 87px;
  left: 419px;
  width: 20px;
  height: 8px;
  position: absolute;
}
 
.select-text2 {
  top: 75px;
  left: 16px;
  color: rgba(0, 0, 0, 0.30000001192092896);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.select-link {
  display: contents;
}
 
.select-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.select-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.select-text3 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
