.eventoContainer {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
}


.eventoHeader {
    margin-bottom: 20px;
    text-align: center;
}

.eventoTitulo {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.eventoDescricao {
    color: #666;
    line-height: 1.5;
}

.partesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.parteItem {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.parteCabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--corazul);
    cursor: pointer;
    transition: all 0.3s ease;
}

.parteCabecalho:hover {
    background-color: var(--cordourado10);
}

.parteCabecalho:hover .parteTitulo {
    color: var(--corespaco30);
}

.parteCabecalho:hover .icone {
    color: var(--corespaco30);
}

.parteTitulo {
    margin: 0;
    font-size: 1.2rem;
    color: white;
    transition: color 0.3s ease;
}

.icone {
    font-size: 1rem;
    color: white;
    transition: color 0.3s ease;
}

.parteConteudo {
    padding: 20px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
}

.parteDescricao {
    color: #666;
    margin-bottom: 15px;
    font-style: italic;
}

.musicasLista {
    margin-top: 15px;
}

.musicasLista select {
    /* background-color: black; */
    padding: 10px;
    border-radius: 10px;

}

.musicasLista h4 {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.1rem;
}

.musicasLista ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.musicaItem {
    padding: 8px 0;
    color: #444;
    border-bottom: 1px solid #f0f0f0;
}

.musicaItem:last-child {
    border-bottom: none;
}

.imagemPacotes {
    width: 100%;
    margin: 10px 0;
}